---
layout: base.njk
title: Games
---

<h1 style="margin-bottom: 1.5rem;">Games</h1>

<div class="post">
  <h2>Margin Call!</h2>
  <div class="post-content">
    <p>More details coming soon.</p>
  </div>
</div>
